.basket{
    width: 440px;
    height: 100vh;
    background: #F6F6F6;
}
.basket__row{
    width: 100%;
    height: 100%;
    padding: 33px 24px;
    display: flex;
    flex-direction: column;
}
.basket__title{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #353535;
}

.basket__delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket__card{
    width: 100%;
    height: 135px;
    display: flex  ;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 20px;
}
.basket__img{
    width: 110px;
    height: 110px;
    border-radius: 16px;  
    background-size: cover;
}
.basket__card-name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #616161;
}
.basket__card-price{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8A8A8A;
}
.basket__cards{
    margin-top: 25px;
}