/*********************
** Home Page Styles **
*********************/
.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  height: 100%;
  padding-bottom: 24px;

  .fixed {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 33px 45px;
    padding-bottom: 20px;
    background-color: #fff;
    z-index: 99;

    @include media(630) {
      padding-left: 24p;
      padding-right: 24px;
      padding-top: 24px;
    }
  }

  .input.search {
    width: 100%;
    height: 50px;

    .icon {
      position: relative;
      width: 23px;
    }
  }

  &__title {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    color: $black--color;

    @include media(630) {
      margin-top: 24px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $icon--color;
  }

  .cart-button__wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 50.52%
    );

    @include media(1440) {
      display: flex;
    }

    .cart-button {
      position: absolute;
      top: 0;
      right: 24px;
    }
  }
}
