@use '../../mixins/mixins';
@use '../../global/functions' as fn;
@use '../../global/variables' as var;

/******************
** Header Styles **
******************/
.header {
    position: relative;
    width: 100%;

    &__mobile {
        @include mixins.flex(center, space-between);
        display: none;
        position: relative;
        width: 100%;
        padding: 10px 0;

        .burger-menu {
            align-items: flex-start;
        }

        .icon.search-icon {
            width: 29px;
            height: 29px;
        }

        &.open {
            .burger-menu {
                align-items: flex-end;
            }
        }
    }

    .search-input__wrapper {
        position: relative;

        .close-icon {
            @include mixins.flex(center, center);
            position: absolute;
            display: none;
            top: 50%;
            right: 10px;
            padding: 10px;
            transform: translateY(-50%);

            @include mixins.media(920) {
                display: flex;
            }
        }
    }

    &.input-open {
        .search-input__wrapper {
            display: flex;

            .input.search {
                padding-right: 42px;
            }
        }

        .header__mobile {
            display: none;
        }
    }

    @include mixins.media(920) {
        &__mobile {
            display: flex;
        }

        .search-input__wrapper {
            display: none;
        }
    }
}