@use '../../mixins/mixins';
@use '../../global/functions' as fn;
@use '../../global/variables' as var;

/*******************
** Loading Styles **
*******************/
.loading__component {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    .loading__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .5;
        z-index: 999;
    }
    
    .dots__wrapper {
        @include mixins.flex(center, space-between);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 150px;
        z-index: 9999;
    
        .dot {
            position: relative;
            width: fn.px-to-rem(50px);
            height: fn.px-to-rem(50px);
            border-radius: 50%;
            background-color: var.$main--color;
            animation: loading .8s ease;
            animation-iteration-count: infinite;
        
            &.dot-two {
                animation-delay: .2s;
            }

            &.dot-three {
                animation-delay: .4s;
            }
        }
    }
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}