.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  overflow: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  &-panel {
    position: absolute;
    right: -100%;
    top: 0;
    width: 900px;
    height: 100%;
    padding: 16px;
    background-color: $white;
    z-index: 1002;
    transition: all 0.2s ease-in-out;
  }

  &.open &-panel {
    right: 0;
  }

  &-header {
    width: 100%;
    @include flex(center, space-between);
  }
}
