.pageHeader {
    width: 100%;
    background-color: $white-color;
    border-radius: 12px;
    padding: 12px;

    &-row {
        @include flex(center, space-between)
    }

    &-title{
        font-size: 16px;
    }
}