@import "./global/settings";
@import "./global/normalize";
@import "./global/variables";
@import "./mixins/mixins";

.wrapper {
    position: relative;
    width: 100%;

    .main-layout__row {
        @include flex(center, space-between, row);
        width: 100%;
        // Sidebar
        .sidebar {
            width: 115px;
            height: 100vh;
            background-color: $sidebar-bg;
            &__col {
                @include flex(center, space-between, column);
                width: 100%;
                height: auto;
                padding-top: 50px;
                .sidebar__icons {
                    &:not(:last-child) {
                        margin-bottom: 60px;
                    &:nth-child(2) {
                        color: $red-color;
                    }
                    }
                    img  {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        // Main
        .main {
            width: 1200px;
            height: 100vh;
            padding: 33px 45px 0;
            &-row {
                width: 100%;
                @include flex(flex-start, center, column);
                .main__search {
                    width: 100%;
                    height: 50px;
                    @include flex(center, flex-start, row);
                    border: none;
                    border-radius: 10px;
                    background-color: $sidebar-bg;
                    padding: 13px 24px;
                    margin-bottom: 40px;
                    img {
                        width: 23px;
                        height: 23px;
                        margin-right: 18px;
                    }
                    input {
                        width: 90%;
                        height: 100%;
                        border: none;
                        @include font(18, 18, 500, 24px);
                        color: $black-color;
                        background-color: transparent;
                        &::placeholder {
                            @include font(16, 16, 400, 24px);
                            color: $light-gray;
                        }
                        &:focus {
                            outline: none
                        }
                    }
                }
                .main__title {
                    @include flex(flex-start, center, column);
                    width: 100%;
                    margin-bottom: 27px;
                    &-text1 {
                        @include font(26, 26, 700, 39px);
                        color: $black-color;
                    }
                    &-text2 {
                        @include font(16, 16, 600, 24px);
                        color: $light-gray;
                    }
                }
                .main__category {
                    width: 100%;
                    position: relative;
                    @include flex(center, space-between, row);
                    &::after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        margin-top: 12px;
                        position: absolute;
                        bottom: 0;
                        background-color: $sidebar-bg;
                    }
                    &-item {
                        @include flex(center, center, row);
                        margin-bottom: 15px;
                        cursor: pointer;
                        img {
                            width: 24px;
                            height: 24px;
                            margin-right: 15px
                        }
                        .main__category-text {
                            @include font(20, 20, 600, 27px);
                            // &:first-child {
                            //     color: $red-color;
                            // }
                            color: $black-color;
                        }
                    }
                }
                .main__products {
                    width: 100%;
                    @include flex(space-between, space-between, row);
                    flex-wrap: wrap;
                    margin-top: 35px;
                    border-radius: 16px;
                    .main__product {
                        width: 260px;
                        @include flex(flex-start, center, column);
                        border-radius: 16px;
                        background-color: $white-color;
                        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                        img {
                            border-radius: 16px 16px 0px 0px;
                        }
                        &-detail {
                            width: 100%;
                            @include flex(flex-end, center, column);
                            .main__product-col {
                                width: 100%;
                                @include flex(flex-start, center, column);
                                padding-top: 15px;
                                padding-left: 15px;
                                .main__product-name {
                                    @include font(16, 16, 500, 24px);
                                    color: $gray-color;
                                }
                                .main__product-price {
                                    @include font(16, 16, 600, 24px);
                                    color: $red-color;
                                }
                            }
                            .main__product-btn {
                                @include flex(center, center, unset);
                                width: 40px;
                                height: 40px;
                                cursor: pointer;
                                margin: 0 10px 11px 0;
                                font-size: 18px;
                                border: 1px solid $gray-btn-color;
                                border-radius: 16px;
                                color: $gray-btn-color;
                                background-color: transparent;
                                transition: all 0.3s;
                                &:hover {
                                    background-color: $black-color
                                }
                            }
                        }
                    }
                }
            }
        }
        //Basket
        @import "./basket.scss";
    }
}