@import './variables' as var;
@import 'sass:math';

//*********************//
//* Format from pixel *//
//*********************//
@function px-to-rem($pixels, $font-size: $font-size--default) {
  @return (math.div($pixels, $font-size) * 1rem);
}

@function px-to-em($pixels, $font-size: $font-size--default) {
  @return (math.div($pixels, $font-size) * 1em);
}

@function px-to-unitless($pixels, $font-size: $font-size--default) {
  @return math.div($pixels, $font-size);
}

@function px-to-percent($pixels, $font-size: $font-size--default) {
  @return (math.div($pixels, $font-size) * 100%);
}
