@import '../mixins/mixins';
@import './variables';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// body.open-modal,
// body.modal-wrap-active {
//   height: 100vh;
//   overflow: hidden;

//   @include mediaMobileFirst(700) {
//     padding-right: 10px;
//   }
// }

body {
  background-color: #fafafd;
  font-family: $main--font;
}

// body.show {
//   height: 100vh;
//   overflow: hidden;

//   @include mediaMobileFirst(700) {
//     padding-right: 10px;
//   }
// }

button span {
  pointer-events: none;
}

img {
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  &.show {
    height: 100vh;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

#root {
  @include flex(flex-start, unset);
  position: relative;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;

  #main-content__row {
    @include flex(flex-start, unset);
    position: relative;
    flex: 1 1 auto;
    height: 100%;
  }
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}
