@use 'sass:color';

//*****************//
//* Font families *//
//*****************//
$main--font: 'Poppins', sans-serif;

//**********//
//* Colors *//
//**********//
$main--color: #ff4e4e;
$bg--color: #ebebeb;
$secondary-bg--color: #f6f6f6;
$grey--color: #d2d2d2;
$icon-bg--color: #e8e8e8;
$black--color: #353535;
$primary-btn--color: #5c5c5c;
$secondary-grey--color: #8a8a8a;
$dark-grey--color: #6b6b6b;
$icon--color: #a6a6a6;
$text--color: #616161;
$black-color: #353535;
$light-gray: #a6a6a6;

$red-color: #ff4e4e;
$yellow-color: #ffa73f;
$blue-color: #50c2e7;   
$pink-color: #ff678c;
$white-color: #fff;
//*****************//
//* Default sizes *//
//*****************//
$font-size--default: 16px !default;
