@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
$main-font: 'Poppins', sans-serif;
$sidebar-bg: #F6F6F6;
$red-color: #FF4E4E;
$black-color: #353535;
$white-color: #FFFFFF;
$gray-color: #616161;
$gray-btn-color: #8A8A8A;
$btn-bg-color: #EBEBEB;
$dark-black-color: #464646;
$order-bg-color: #5C5C5C;