@use '../../../assets/scss/mixins/mixins';
@use '../../../assets/scss/global/functions' as fn;
@use '../../../assets/scss/global/variables' as var;

/*************************
** Navbar Mobile Styles **
*************************/
.navbar {
    @include mixins.media(920) {
        position: absolute;
        top: 0;
        left: -100%;
        max-width: 100vw;
        height: 100vh;
        z-index: 999;
        padding: 32px 24px;
        background: #fff;

        &__logo-row {
            @include mixins.flex(flex-start, space-between);
            margin-bottom: 90px;
        }

        &__logo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .logo {
                width: 135px;
                height: 113px;
            }
    
            .logo-text {
                width: 161px;
                height: 50px;
            }
        }

        .page {
            height: 24px;
            padding: 0;
    
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 8px;
                height: 8px;
                border: {
                    top: 2px solid var.$icon--color;
                    right: 2px solid var.$icon--color;
                };
                transform: translateY(-50%) rotate(45deg);
            }
    
            &.active::after {
                background-color: transparent;
                border-radius: 0;
                border-color: var.$main--color;
            }
    
            &__icon {
                display: none;
            }
        }
    
        &.open {
            left: 0;
            max-width: 100vw;
        }
    }
}