@use '../../../assets/scss/mixins/mixins';
@use '../../../assets/scss/global/functions' as fn;
@use '../../../assets/scss/global/variables' as var;

/******************
** Navbar Styles **
******************/
.navbar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 50px;
    position: sticky;
    top: 0;
    left: 0;
    max-width: 90px;
    width: 100%;
    height: 100vh;
    padding: 30px 0;
    background-color: var.$secondary-bg--color;
    transition: all .1s ease;
    overflow: hidden;

    &__logo-row {
        @include mixins.flex(center, space-between);
        position: relative;
        min-height: 63px;
        padding: 0 25px;
    }

    &__logo {
        @include mixins.flex(flex-end, unset);
        display: none;
        gap: 14px;
        position: relative;
        height: 100%;

        .logo {
            width: 76px;
            height: 100%;
        }

        .logo-text {
            width: 134px;
            height: 38px;
        }
    }

    .icon.burger-menu {
        align-items: flex-start;
    }

    &__text {
        display: none;
    }
    
    &.open {
        max-width: 342px;

        .navbar__logo {
            display: flex;
        }

        .navbar__text {
            display: block;
        }

        .icon.burger-menu {
            align-items: flex-end;
        }
    }
}