/*******************
** Sidebar Styles **
*******************/
.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding: 32px 24px;
  transition: left 0.1s ease;
  background: #fff;

  @include media-min(921) {
    display: none;
  }

  &__logo-row {
    @include flex(flex-start, space-between);
    margin-bottom: 90px;
  }

  &__logo {
    @include flex(flex-start, unset);
    flex-direction: column;
    gap: 10px;

    .logo {
      width: 135px;
      height: 113px;
    }

    .logo-text {
      width: 161px;
      height: 50px;
    }
  }

  .page {
    height: 24px;
    padding: 0;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 8px;
      height: 8px;
      border: {
        top: 2px solid $icon--color;
        right: 2px solid $icon--color;
      }
      transform: translateY(-50%) rotate(45deg);
    }

    &.active::after {
      background-color: transparent;
      border-radius: 0;
      border-color: $main--color;
    }

    &__icon {
      display: none;
    }
  }

  &.open {
    left: 0;
  }
}
