.categories{
    width: 910px;
    height: 100%;
}

.categories__row{
    padding: 33px 45px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    flex-wrap: wrap;
}
.categories__search{
    width: 100%;
    height: 50px;
    padding: 0 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #F6F6F6;
    border-radius: 10px;
    border: none;
    outline: none;
}
.categories__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #353535;
    margin-top: 40px;
}
.categories__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A6A6A6;
    
}
.categories__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}
.categories__card-img{
    width: 100%;
    height: 163px;
    background-color: gray;
    border-radius: 16px 16px 0 0;


}
.categories__card{
    width: 260px;
    height: 260px;
    background: #FFFFFF;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin-bottom: 20px;
}
.categories__card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #616161;
    
}
.categories__price{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF4E4E;
}
.categories__titles{
    padding: 0 13px;
}
.categories__add:hover{
    background: #353535;
    color: #AEAEAE;
}
.categories__add{
    width: 40px;
    height: 40px;
    border: 1px solid #D2D2D2;
    border-radius: 13px;
    color: #AEAEAE;
}
