/*****************
** Input Styles **
*****************/
.input {
    @include flex(center, unset);
    gap: 18px;
    position: relative;

    &.search {
        background-color: $secondary-bg--color;
        border-radius: 10px;
        padding: 12px 24px;

        input {
            flex: 1 1 auto;
            height: 100%;
            font-size: px-to-rem(16px);
            font-weight: 400;
            line-height: px-to-percent(24px);
            color: $icon--color;
        }

        .icon {
            height: 100%;
        }
    }
}