.order-card{
    width: 100%;    
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    &__description{
        margin-bottom: 20px;
    }
    &__title{
        color: #ACACAC;
        font-size: 16px;
        margin-bottom: 20px;
    }
    &__text{
        font-weight: 600;
        font-size: 20px;
        color: #353535;
        margin-right: 20px;
    }
    &__input{
        display: flex;
        align-items: center;
    }
    .user__btn{
        background: none;
    }
}