/*********************
** Page Card Styles **
*********************/
.page {
    @include flex(center, unset);
    gap: 40px;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 25px;
    cursor: pointer;

    &__icon {
        position: relative;
        display: inline-flex;
        width: 36px;
        height: 36px;
    
        svg path {
            fill: $icon--color;
        }
    }
    
    &__text {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $icon--color;
    }

    &.active {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 4px;
            height: 100%;
            border-radius: 5px;
            background-color: $main--color;
        }

        svg path {
            fill: $main--color;
        }

        .page__text {
            color: $main--color;
        }
    }
}