@use '../../mixins/mixins';
@use '../../global/functions' as fn;
@use '../../global/variables' as var;

/*****************************
** Product Card Mini Styles **
*****************************/
.product-card--mini {
    display: flex;
    flex-direction: row;
    gap: fn.px-to-rem(15px);
    flex-shrink: 0;
    position: relative;
    max-width: 392px;
    padding: fn.px-to-rem(13px);
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;

    &__img {
        position: relative;
        width: 110px;
        height: 75px;
        border-radius: 16px;
        overflow: hidden;

        img {
            object-fit: cover;
        }

        @include mixins.media(1440) {
            max-width: 70px;
        }
    }

    &__content {
        @include mixins.flex(unset, space-between);
        flex-direction: column;
        flex: 1 1 auto;

        @include mixins.media(1440) {
            flex-direction: row;
            align-items: center;
            padding-right: 10px;
        }
    }

    &__name {
        @include mixins.font(16, 13, 500, fn.px-to-percent(24px));
        color: var.$text--color;
    }

    &__price {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: var.$secondary-grey--color;
    }

    &__quantity {
        max-width: 40px;
        padding: fn.px-to-rem(5px) fn.px-to-rem(10px);
        background-color: var.$bg--color;
        border-radius: 5px;
        
        &,
        option {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: var.$secondary-grey--color;
        }
    }

    &__icon {
        @include mixins.flex-center();
        position: absolute;
        top: fn.px-to-rem(17px);
        right: fn.px-to-rem(17px);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: all .3s ease;

        svg path {
            transition: all .3s ease;
        }

        &:hover {
            background-color: var.$grey--color;
            
            svg path {
                fill: var.$main--color;
            }
        }

        @include mixins.media(1440) {
            display: none;
        }
    }
}