@use '../../mixins/mixins';
@use '../../global/functions' as fn;
@use '../../global/variables' as var;

/******************************
** Cart Products List Styles **
******************************/
.cart-products__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 55vh;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}