@use '../../../scss/mixins/mixins';
@use '../../../scss/global/functions' as fn;
@use '../../../scss/global/variables' as var;

/***************************
** Categories List Styles **
***************************/
.categories__list {
    @include mixins.flex(center, space-between);
    gap: 15px;
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}