* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select,
option {
  outline: none;
  border: none;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  background: transparent;
  outline: none;
  border: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
