/**********************
** Responsive Styles **
**********************/
@include media(1024) {
    :root {
        font-size: 14px;
    }
}

@include media(900) {
    :root {
        font-size: 13px;
    }
}

@include media(768) {
    :root {
        font-size: 12px;
    }
}

@include media(600) {
    :root {
        font-size: 11px;
    }
}