@use '../../../assets/scss/mixins/mixins';
@use '../../../assets/scss/global/functions' as fn;
@use '../../../assets/scss/global/variables' as var;

/***********************
** Cart Button Styles **
***********************/
.cart-button {
    @include mixins.flex(center, unset);
    gap: 25px;
    padding: 12px 24px;
    background-color: var.$main--color;

    .text__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: #fff;
    }

    svg path {
        fill: #fff;
    }
}