* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.main-layout__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 90px;
    height: 100vh;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    gap: 100px;
    transition: all 0.4s ease;

}

.navbar svg {
    cursor: pointer;
}

.karzinka {
    width: 440px;
    height: 100vh;
    background: #F6F6F6;
}

.CategoriKarzinka {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
}

.categori {
    width: auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 49px;
    width: 820px;
    border-radius: 10px;

    border-radius: 10px;
    background: #F6F6F6;
}

.search input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
}

.search input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A6A6A6;
}

.sidebar {
    width: 352px;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.iconMenuLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.none {
    opacity: 0;
    display: none;
    transition: all 0.4s ease;
}

.logoClass {
    display: flex;
    transition: all 0.4s ease;
}

.iconMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 30px;
}

.iconMenu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 30px;
}

.iconMenuText {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #A6A6A6;
}

.Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
}

.prudctList {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20%;
    width: 90%;
}

.ListItams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.ListItamsText {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #353535;
}

.ListItamsColor {
    color: #FF4E4E;
}

/* hr{
    position: absolute;
    bottom: -10px;
    width: 900px;
    left: 0;
    height: 3px;
    background-color: #A6A6A6;
} */

.productTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.productTitle h1 {
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    color: #353535;
}

.productTitle p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A6A6A6;
}

.Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 260px;
    width: 260px;
}
.products{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}