/******************
** Button Styles **
******************/
.button {
    text-align: center;
    border-radius: 50px;
    transition: all .3s ease;
    cursor: pointer;

    &.default {
        border-radius: 0;
        background-color: transparent;
    }

    &--primary {
        padding: px-to-rem(16px) px-to-rem(32px);
        background-color: $primary-btn--color;
        font-size: 18px;
        font-weight: 600;
        line-height: px-to-percent(27px);
        color: #fff;

        &:hover {
            background-color: $black--color;
        }
    }

    &--danger {
        padding: px-to-rem(36px) px-to-rem(14px);
        background-color: $danger--color;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #fff;
    }
}